<div class="card bg-base-100 w-96 shadow-sm fadeIn">
  <figure>
    <img [src]="resourceImage.value()" [alt]="product().title" class="w-full" />
  </figure>
  <div class="card-body">
    <a
      class="text-xl font-extrabold text-secondary"
      [routerLink]="['/product', product().id]"
    >
      {{ product().title }}
    </a>
    <p>
      {{ product().description | lengthDescription }}
    </p>
    <div class="card-actions justify-end">
      <a
        class="text-secondary"
        [routerLink]="['/product', product().id]"
        routerLinkActive="router-link-active"
        >Ver producto</a
      >
    </div>
  </div>
</div>
