<div class="card bg-base-100 w-96 shadow-sm fadeIn">
  <figure>
    <img [src]="resourceImage.value()" [alt]="product().title" class="w-full" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ product().title }}</h2>
    <p>
      {{ product().description | lengthDescription }}
    </p>
    <div class="card-actions justify-end">
      <a
        [routerLink]="['/product', 'shirt']"
        routerLinkActive="router-link-active"
        >Ver producto</a
      >
    </div>
  </div>
</div>
